$background: #DDD;
$text-color: #292B2C;

$header-margin: 20px;
$header-margin-bottom: $header-margin * 2;
$title-font-size: 5em;

$pane-width: 370px;
$pane-height: 550px;
$pane-margin: 15px;

$add-pane-border-width: 10px;
$add-pane-color: #AAA;
$add-pane-font-size: 2.4em;
$add-pane-icon-font-size: 1.8em;

$opened-pane-shadow-color: darken(rgba($background, 0.75), 20%);
$opened-pane-padding: 16px;
$opened-pane-font-config-margin: 15px;

$footer-margin-top: 30px;
