.opened-pane {
    background: white;
    box-shadow: 10px 10px 15px 0 $opened-pane-shadow-color;
    padding: $opened-pane-padding;

    & > .font-config {
        margin-bottom: $opened-pane-font-config-margin;
    }

    & > .preview-text {
        overflow: scroll;
        max-width: $pane-width - $opened-pane-padding * 2;
    }

    & > .close-pane-container > .close-pane {
        transition: color 0.15s linear;
        &.enabled { color: $text-color; }
        &.disabled { color: lighten($text-color, 40%); }
    }
}
